@media only screen and (max-height: 700px) {
    .game-container{
        max-height: none;
    }
}@media only screen and (max-height: 650px) {
    .game-container{
        max-height: none;
    }
}@media only screen and (max-height: 800px) {
    .game-board{
        min-width: 350px;
    }
}@media only screen and (max-height: 650px) {
    .game-board{
        min-width: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    .pane-container.slim{
        transition: none;
    }
    .pane-container.slim.scoreboard-container{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .pane-container.slim.scoreboard-container.hidden{
        width: 0;
    }
    .pane.scoreboard{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 300px;
        max-height: 375px;
        background-color: var(--pane);
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }
    .pane.scoreboard button{
        display: block;
    }
}
@media only screen and (max-width: 1500px) {
    .game-board{
        min-width: 400px;
    }
}@media only screen and (max-width: 1100px) {
    .game-board{
        min-width: 350px;
    }
}@media only screen and (max-width: 750px) {
    .game-board{
        min-width: 275px;
        gap: 25px;
    }
}@media only screen and (max-width: 650px) {
    .game-container{
        flex-direction: column;
    }
    .pane-container.slim .pane-header{
        width: 0;
        height: 0;
    }
    .pane-container.slim{
        width: 100%;
    }
}@media only screen and (max-width: 400px) {
    .game-board{
        min-width: 225px;
        gap: 20px;
    }
}